extends layout

block content
  h1= title
  form.form(method="POST")
    div.form-floating.mb-3
      input.form-control#name(type="text" name="name" placeholder="" value=(project == undefined ? "" : project.name))
      label(for="name") Name
    div.form-floating.mb-3  
      input.form-control#desc(type="text" name="desc" placeholder="" value=(project == undefined ? "" : project.desc))
      label(for="desc") Description
    div.form-floating.mb-3
      input.form-control#liveUrl(type="text" name="liveUrl" placeholder="" value=(project == undefined ? "" : project.liveUrl))
      label(for="liveUrl") Live Server url
    div.form-floating.mb-3
      input.form-control#repoUrl(type="text" name="repoUrl" placeholder="" value=(project == undefined ? "" : project.repoUrl))
      label(for="repoUrl") Github repo url
    div.form-floating.mb-3
      input.form-control#image(type="text" name="image" placeholder="" value=(project == undefined ? "" : project.img))
      label(for="image") Image url
    if project
      a(href=project.url+"/delete")
        button.btn.btn-outline-danger.me-3(type="button") Delete
    button.btn.btn-primary(type="submit") Submit

